EFA_SKIP_FULL_MANIFEST_UPDATE=false # Whether to skip snapshot manifest generation
EFA_DEFAULT_WORKSPACE_MANIFEST=/develop/eve-fit-assistant/data/resources/tranquility/output/bundle_manifest.json # Default path to the baseline manifest file, for dev usage
