EFA_SKIP_FULL_HASHLIST_UPDATE=false # Whether to skip hashlist file generation
EFA_DEFAULT_WORKSPACE_HASHLIST=/develop/eve-fit-assistant/data/resources/tranquility/output/hash_list.txt # Default path to the hashlist file, for dev-usage
